@charset "UTF-8";
/* PAGINA 5 */
.hvr-grow {
  color: #000;
  margin-top: 1%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  overflow: hidden;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pagina-5 {
  background-color: #F4EEE0;
}

.formulario {
  height: 675px;
  max-width: max-content;
  padding: 25px;
  margin-bottom: 7%;
}

.title {
  padding: 25px;
}

.formulario {
  height: 675px;
  max-width: max-content;
  padding: 25px;
}

.email-contact {
  padding: 25px;
  margin-top: 5%;
}
.email-contact p {
  font-size: 0.2rem;
  font-weight: 200;
}

/* Footer */
.redes-sociales footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
}
.redes-sociales footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.redes-sociales footer ul li {
  margin-right: 10px;
}
.redes-sociales footer ul li a {
  color: #fff;
  text-decoration: none;
}
.redes-sociales img {
  width: 60px;
  height: 70px;
}
.redes-sociales footer ul li a:hover {
  text-decoration: underline;
}
.redes-sociales footer h4 {
  margin: 0;
}
.redes-sociales p {
  font-size: larger;
  margin-top: 1%;
}

* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

.pagina-1 {
  background-image: url("../img/r35.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Subtitulo y texto */
.main-text {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
  background-color: rgba(255, 255, 255, 0.01);
}
.main-text h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.main-text p {
  font-size: 1.22rem;
  margin-bottom: 20px;
}
.main-text input[type=button] {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.container-fluid {
  background-color: #000000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.navbar-toggler-icon {
  color: #fff;
}

/* ICONO */
.icono {
  position: absolute;
  left: 50%;
  top: 15%;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-left: 130px;
}

/* PAGINA 4 */
.carousel-item {
  transition: transform 0.1s ease-in-out;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active, .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

.carousel-item-next, .active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev, .active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-caption p {
  font-size: 1.5rem;
  font-weight: bold;
}
.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}

.textoblanco {
  color: #fff;
  font-size: 1.5rem;
}

.pagina-2 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
  margin-top: 8%;
  margin-bottom: 3%;
}

.card {
  width: 200px;
  height: 400px;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #F4EEE0;
  border: none;
}

.card-body {
  border: black;
}

.card-img {
  height: 270px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9c27b0;
  color: #fff;
  text-decoration: none;
  background: #9c27b0;
}

.btn:hover {
  background: none;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .YRN {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.content p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.sau, .pagina-5 .menu {
  padding: 30px;
  background: #1f1d1d;
}

.about {
  background: #171717;
}

* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

/******************************* INDEX.HTML **********************************/
/* Menú de navegación */
.container-fluid {
  background-color: #000000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* ICONO */
}
.container-fluid .navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
}
.container-fluid .navbar-nav .nav-item {
  margin-right: 20px;
  cursor: pointer;
}
.container-fluid .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
.container-fluid .navbar-nav .nav-item .navbar-toggler-icon {
  color: #fff;
}
.container-fluid .icono {
  position: absolute;
  left: 50%;
  top: 15%;
}
.container-fluid .logo img {
  width: 70px;
  height: 60px;
  margin-left: 200px;
}

/* Imagen de fondo */
.pagina-1 {
  background-image: url("../img/r35.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Subtitulo y texto */
.main-text {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
  background-color: rgba(255, 255, 255, 0.01);
}
.main-text h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.main-text p {
  font-size: 1.22rem;
  margin-bottom: 20px;
}
.main-text input[type=button] {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
.redes-sociales footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
}
.redes-sociales footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.redes-sociales footer ul li {
  margin-right: 10px;
}
.redes-sociales footer ul li a {
  color: #fff;
  text-decoration: none;
}
.redes-sociales footer ul li a:hover {
  text-decoration: underline;
}
.redes-sociales footer img {
  width: 50px;
  height: 60px;
}
.redes-sociales footer h4 {
  margin: 0;
}
.redes-sociales footer p {
  font-size: larger;
  margin-top: 1%;
}

/********************** PAGINA 2 *******************************/
.pagina-2 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
  margin-top: 8%;
  margin-bottom: 3%;
}
.container .card {
  width: 200px;
  height: 400px;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #F4EEE0;
  border: none;
}
.container .card-body {
  border: black;
}
.container .card-img {
  height: 270px;
}

/* ********* PAGINA 3 ********** */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9c27b0;
  color: #fff;
  text-decoration: none;
  background: #9c27b0;
}

.btn:hover {
  background: none;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .YRN {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.content p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.sau, .pagina-5 .menu {
  padding: 30px;
  background: #1f1d1d;
}

.about {
  background: #171717;
}

/* PAGINA 4 */
.carousel-item {
  transition: transform 0.1s ease-in-out;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  transform: translateX(0);
}
.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}
.carousel-item-next, .carousel-item.active.carousel-item-right {
  transform: translateX(100%);
}
.carousel-item-prev, .carousel-item.active.carousel-item-left {
  transform: translateX(-100%);
}
.carousel-item-caption p {
  font-size: 1.5rem;
  font-weight: bold;
}
.carousel-item-caption h1 {
  font-size: 2rem;
  font-weight: bold;
}
.carousel-item textoblanco {
  color: #fff;
  font-size: 1.5rem;
}

/* PAGINA 5 */
.hvr-grow {
  color: #000;
  margin-top: 1%;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  overflow: hidden;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.1);
}

.pagina-5 {
  background-color: #F4EEE0;
  /* MEDIA QUERIS */
}
.pagina-5 .formulario {
  height: 675px;
  max-width: max-content;
  padding: 25px;
}
.pagina-5 .title {
  padding: 25px;
  margin-top: 7%;
  font-size: 5rem;
}
.pagina-5 .email-contact {
  padding: 25px;
  margin-top: 5%;
}
.pagina-5 .email-contact p {
  font-weight: 200;
  font-size: 0, 2rem;
}
.pagina-5 .title {
  margin-bottom: 0;
  font-size: 40px;
}
@media (max-width: 768px) {
  .pagina-5 .title {
    margin-bottom: 0;
    font-size: 40px;
  }
}
.pagina-5 .sau, .pagina-5 .menu {
  height: 100vh;
}
@media (max-width: 768px) {
  .pagina-5 .sau, .pagina-5 .menu {
    height: 100vh;
  }
}
.pagina-5 .menu nav {
  flex-direction: column;
}
.pagina-5 .menu ul {
  display: inline-block;
  margin-top: 20px;
}
.pagina-5 .menu li {
  margin-right: 0;
  margin-bottom: 10px;
}
.pagina-5 .menu .icono {
  display: block;
  margin: 20px auto 0;
  text-align: center;
}
.pagina-5 .redes-sociales {
  flex-wrap: wrap;
}
.pagina-5 .redes-sociales ul {
  flex-wrap: wrap;
}
.pagina-5 .redes-sociales li {
  margin-right: 0;
  margin-bottom: 10px;
}
.pagina-5 .redes-sociales h4 {
  font-size: small;
}
.pagina-5 .redes-sociales p {
  font-size: smaller;
}
.pagina-5 .redes-sociales img {
  height: 12px;
  width: 12px;
}
@media (max-width: 768px) {
  .pagina-5 .redes-sociales {
    flex-wrap: wrap;
  }
  .pagina-5 .redes-sociales ul {
    flex-wrap: wrap;
  }
  .pagina-5 .redes-sociales li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .pagina-5 .redes-sociales h4 {
    font-size: small;
  }
  .pagina-5 .redes-sociales p {
    font-size: smaller;
  }
  .pagina-5 .redes-sociales img {
    height: 12px;
    width: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
