@charset "UTF-8";
/* PAGINA 5 */
.hvr-grow {
  color: #000;
  margin-top: 1%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pagina-5 {
  background-color: #F4EEE0;
}
.pagina-5 .formulario {
  height: 675px;
  max-width: max-content;
  padding: 25px;
}
.pagina-5 .title {
  padding: 25px;
  margin-top: 7%;
  font-size: 1rem;
  margin-bottom: 20px;
}
.pagina-5 .email.contact {
  padding: 25px;
  margin-top: 5%;
}
.pagina-5 .email.contact p {
  font-weight: 200;
  font-size: 0.2rem;
  margin-top: 10px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
}
footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-right: 10px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 60px;
  height: 70px;
}

footer ul li a:hover {
  text-decoration: underline;
}
footer h4 {
  margin: 0;
}

p {
  font-size: larger;
  margin-top: 1%;
}

* {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.imgf1 {
  background-image: url("../img/r35.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

/* Subtitulo y texto */
.main-text {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
  background-color: rgba(255, 255, 255, 0.01);
}
.main-text h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.main-text p {
  font-size: 1.22rem;
  margin-bottom: 20px;
}
.main-text input[type=button] {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Menú de navegación */
.container-fluid {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container-fluid .navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
}
.container-fluid .navbar-nav .nav-item {
  margin-right: #fff;
  cursor: pointer;
}
.container-fluid .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
.container-fluid .navbar-nav .nav-item .navbar-toggler-icon {
  color: #fff;
}
.container-fluid .logo img {
  width: 70px;
  height: 60px;
  margin-left: 150px;
}

/* PAGINA 4 */
.carousel-item {
  transition: transform 0.1s ease-in-out;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active, .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

.carousel-item-next, .active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev, .active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-caption p {
  font-size: 1.5rem;
  font-weight: bold;
}
.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}

.textoblanco {
  color: #fff;
  font-size: 1.5rem;
}

.pagina-2 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
  margin-top: 8%;
  margin-bottom: 3%;
}

.card {
  width: 200px;
  height: 400px;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #F4EEE0;
  border: none;
}

.card-body {
  border: black;
}

.card-img {
  height: 270px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9c27b0;
  color: #fff;
  text-decoration: none;
  background: #9c27b0;
}

.btn:hover {
  background: none;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .YRN {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.content p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.sau {
  padding: 30px;
  background: #1f1d1d;
}

.about {
  background: #171717;
}

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/******************************* INDEX.HTML **********************************/
.pagina-1 {
  overflow-x: hidden;
}

/* Menú de navegación */
.container-fluid {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container-fluid .navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
}
.container-fluid .navbar-nav .nav-item {
  margin-right: #fff;
  cursor: pointer;
}
.container-fluid .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
.container-fluid .navbar-nav .nav-item .navbar-toggler-icon {
  color: #fff;
}
.container-fluid .logo img {
  width: 70px;
  height: 60px;
  margin-left: 270px;
}

/* Imagen de fondo */
.imgf1 {
  background-image: url("../img/r35.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

/* Subtitulo y texto */
.main-text {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
  background-color: rgba(255, 255, 255, 0.01);
}
.main-text h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.main-text p {
  font-size: 1.22rem;
  margin-bottom: 20px;
}
.main-text input[type=button] {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: #000;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
}
footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-right: 10px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer img {
  width: 50px;
  height: 60px;
}
footer h4 {
  margin: 0;
}
footer p {
  font-size: larger;
  margin-top: 1%;
  margin-right: 220px;
}

/********************** PAGINA 2 *******************************/
.pagina-2 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container .col-md-4 {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.title-productos {
  color: white;
  position: absolute;
  top: 10%;
  left: 44%;
  font-size: larger;
}

/* ********* PAGINA 3 ********** */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9c27b0;
  color: #fff;
  text-decoration: none;
  background: #9c27b0;
}

.btn:hover {
  background: none;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .YRN {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.content p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.sau {
  padding: 30px;
  background: #1f1d1d;
}

.about {
  background: #171717;
}

/* PAGINA 4 */
.-caption p {
  font-size: 1.5rem;
  font-weight: bold;
}
.-caption h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ttexto-3slide {
  color: #fff;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 100vh;
}

/* PAGINA 5 */
.hvr-grow {
  color: #000;
  margin-top: 1%;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.1);
}

.pagina-5 {
  background-color: #F4EEE0;
}
.pagina-5 .formulario {
  height: 675px;
  max-width: max-content;
  padding: 25px;
}
.pagina-5 .title {
  padding: 25px;
  margin-top: 7%;
  font-size: 1rem;
  margin-bottom: 20px;
}
.pagina-5 .parrafo {
  padding: 25px;
  margin-left: 3px;
  font-weight: 200;
  font-size: 1.3rem;
}

/* MEDIA QUERIS */
/**NAVBAR*/
@media (max-width: 576px) {
  .navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0 10px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .navbar-toggler-icon {
    margin-right: 10px;
  }
  .navbar-nav {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border: #000;
  }
  .navbar-nav .nav-item {
    margin-bottom: 20px;
  }
  .navbar-nav .logo {
    display: none; /* Oculta el logo en el menú desplegable */
  }
  .navbar-nav .logo img {
    max-width: 100%;
    height: auto;
  }
}
/* Subtitulo y texto */
@media (max-width: 576px) {
  .main-text h1 {
    font-size: large;
  }
  .main-text p {
    font-size: medium;
  }
}
/* Footer */
@media (max-width: 576px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  footer ul {
    margin-right: 0%;
  }
  footer img {
    width: 30px;
    height: 30px;
  }
  footer h4 {
    font-size: smaller;
  }
  footer p {
    font-size: smaller;
    margin-left: 8%;
    margin: 0%;
  }
}
/* Página 2 */
@media (max-width: 576px) {
  .container {
    overflow-x: hidden;
  }
  .container .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 100px;
    margin-left: 60px;
  }
  .title-productos {
    position: absolute;
    top: 10%;
    left: 41%;
  }
}
/* Página 3 */
@media (max-width: 576px) {
  .btn {
    margin-bottom: 25%;
  }
  .YRN {
    margin-top: 25%;
    font-size: 1rem;
  }
  .YRN p {
    font-size: medium;
  }
  .content p {
    font-size: medium;
  }
}
/* PAGINA 4 */
@media (max-width: 576px) {
  .carousel-item {
    transition: transform 0.1s ease-in-out;
  }
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    transform: translateX(0);
  }
  .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
    transform: translateX(0);
  }
  .carousel-item-next, .carousel-item.active.carousel-item-right {
    transform: translateX(100%);
  }
  .carousel-item-prev, .carousel-item.active.carousel-item-left {
    transform: translateX(-100%);
  }
  .carousel-item-caption p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .carousel-item-caption h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .carousel-item .ttexto-3slide {
    color: #fff;
    font-size: 1.5rem;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .carousel-item {
    display: none;
  }
  .carousel-item.active {
    display: block;
  }
}
@media (max-width: 576px) {
  .carousel-item img {
    height: 100vh;
    width: 100%;
  }
  #carouselExampleDark.carousel {
    height: 100vh;
  }
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .hvr-grow {
    color: #000;
    margin-top: 1%;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=style.css.map */
