* {
  margin: 0;
  overflow-x: hidden;
  font-family:'Times New Roman', Times, serif;
}
/******************************* INDEX.HTML **********************************/

/* Menú de navegación */
.menu {
  background-color: #000000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.menu ul li {
  margin-right: 20px;
  cursor: pointer;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
/* ICONO */
.icono {
  position: absolute;
  left: 50%;
  top: 15%;
}

.icono img {
  width: 70px;
  height: 60px;
}


/* Imagen de fondo */
.pagina-1{
  background-image: url("../img/r35.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Subtitulo y texto */
.main-text {
  position: absolute;
  top: 15%;
  left: 10%;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.main-text {
  background-color: rgba(255, 255, 255, 0.01);
}

.main-text h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
  
}

.main-text p {
  font-size: 1.22rem;
  margin-bottom: 20px;
}

.main-text input[type="button"] {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
.redes-sociales footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  height: 70px;
  overflow-y: hidden;
}

.redes-sociales footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes-sociales footer ul li {
  margin-right: 10px;
}

.redes-sociales footer ul li a {
  color: #fff;
  text-decoration: none;
}
.redes-sociales img{
  width: 60px;
  height: 70px;
}

.redes-sociales footer ul li a:hover {
  text-decoration: underline;
}

.redes-sociales footer h4 {
  margin: 0;
}
.redes-sociales p{
  font-size: larger;
}
/********************** PRODUCTOS.HTML *******************************/

.pagina-2{
  background: rgb(247,226,199);
background: linear-gradient(90deg, rgba(247,226,199,1) 0%, rgba(0,0,0,1) 100%);
display: flex;
}

/* Estilo para la sección de productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px;
}

/* Estilo para cada producto */
.producto-1,
.producto-2,
.producto-3,
.producto-4,
.producto-5,
.producto-6 {
  width: 500px;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;

}

.producto-1 img,
.producto-2 img,
.producto-3 img,
.producto-4 img,
.producto-5 img,
.producto-6 img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

  
