.imgf1 {
  background-image: url("../img/r35.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw; 
  height: 100vh; 
}

  /* Subtitulo y texto */
  
  .main-text {
    position: absolute;
    top: 15%;
    left: 10%;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
    background-color: rgba(255, 255, 255, 0.01);
  
    h2 {
      font-size: 2.2rem;
      margin-bottom: 20px;
      text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
    }
  
    p {
      font-size: 1.22rem;
      margin-bottom: 20px;
    }
  
    input[type="button"] {
      background-color: #fff;
      color: #333;
      padding: 15px 20px;
      border: black;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }