.pagina-2 {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  
  .container {
    margin-top: 8%;
    margin-bottom: 3%;
  }
  
  .card {
    width: 200px;
    height: 400px;
    margin-bottom: 3rem;
    cursor: pointer;
    background-color: #F4EEE0;
    border: none;
  }
  
  .card-body {
    border: black;
  }
  
  .card-img {
    height: 270px;
  }