// Variables
$color-primary: #9c27b0;
$color-secondary: #333;
$color-white: #fff;
$color-black: #000;

$font-family: 'Open Sans', sans-serif;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

$z-index-navbar: 1000;