// Variables
$color-primary: #9c27b0;
$color-secondary: #333;
$color-white: #fff;
$color-black: #000;

$font-family: "Times New Roman", Times, serif;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

$z-index-navbar: 1000;


@import 'variables';
@import'contactanos';
@import 'footer';
@import 'generales';
@import 'index';
@import 'navbar';
@import 'nuevo-vehiculo';
@import 'productos';
@import 'somos';

* {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/******************************* INDEX.HTML **********************************/

/* Menú de navegación */
.container-fluid {
  background-color: $color-black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-navbar;

  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;

    .nav-item {
      margin-right:$color-white ;
      cursor: pointer;

      .nav-link {
        color: $color-white;
        text-decoration: none;
        font-weight: bold;
        font-size: large;
      }
      .navbar-toggler-icon{
        color: $color-white;
      }
      
    }
  }

  /* ICONO */
  .icono {
    position: absolute;
    left: 50%;
    top: 15%;
  }

  .logo img {
    width: 70px;
    height: 60px;
    margin-left: 200px;
  }
}

/* Imagen de fondo */
.imgf1{
  background-image: url("../img/r35.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Subtitulo y texto */
.main-text {
  position: absolute;
  top: 15%;
  left: 10%;
  color: $color-white;
  text-align: left;
  text-shadow: 1px 1px 1px $color-black, -1px -1px 1px $color-black;
  background-color: rgba(255, 255, 255, 0.01);

  h2 {
    font-size: 2.2rem;
    margin-bottom: $spacing-medium;
    text-shadow: 1px 1px 1px $color-black, -1px -1px 1px $color-black;
  }

  p {
    font-size: 1.22rem;
    margin-bottom: $spacing-medium;
  }

  input[type="button"] {
    background-color: $color-white;
    color: $color-secondary;
    padding: 15px $spacing-medium;
    border: $color-black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
}

/* Footer */
.redes-sociales {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-black;
    color: $color-white;
    padding: $spacing-medium;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: $spacing-small;

        a {
          color: $color-white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    img {
      width: 50px;
      height: 60px;
    }

    h4 {
      margin: 0;
    }

    p {
      font-size: larger;
      margin-top: 1%;
      margin-right: 220px;
    }
  }

/********************** PAGINA 2 *******************************/
.pagina-2 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
  margin-top: 8%;
  margin-bottom: 3%;
  width: 100%;
  overflow: hidden;
  .card {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    cursor: pointer;
    background-color: #F4EEE0;
    border: none;
    
    &-body {
    border: black;
    }
    
    &-img {
    width: 100%;
    }
    }
  }


    
    /* ********* PAGINA 3 ********** */

  
  .btn {
      display: inline-block;
      margin-top: 15px;
      padding: $spacing-small 40px;
      border: 2px solid $color-primary;
      color: $color-white;
      text-decoration: none;
      background: $color-primary;
  }
  
  .btn:hover {
      background: none;
      
  }
  
  .content {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .YRN {
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-white;
    }
    
    p {
        margin-bottom: 40px;
        font-size: 18px;
        color: $color-white;
        padding: 0 100px;
    }
  }
  
  .sau {
      padding: $spacing-large;
      background: #1f1d1d
  }
  
  
  
  .about {
      background: #171717;
  }
  
    /* PAGINA 4 */
    .carousel-item {
    transition: transform 0.1s ease-in-out;
    
    &-next,
    &-prev,
    &.active {
    transform: translateX(0);
    }
    
    &-next.carousel-item-left,
    &-prev.carousel-item-right {
    transform: translateX(0);
    }
    
    &-next,
    &.active.carousel-item-right {
    transform: translateX(100%);
    }
    
    &-prev,
    &.active.carousel-item-left {
    transform: translateX(-100%);
    }
    
    &-caption {
    p {
    font-size: 1.5rem;
    font-weight: bold;
    }
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  ttexto-3slide {
  color: $color-white;
  font-size: 1.5rem;
  }
  }
  
    /* PAGINA 5 */
.hvr-grow {
  color: $color-black;
  margin-top: 1%;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  
  
  &:hover,
  &:focus,
  &:active {
  transform: scale(1.1);
  }
  }
  
  .pagina-5 {
    background-color: #F4EEE0;
  
    .formulario {
      height: 675px;
      max-width: max-content;
      padding: 25px;
    }
  
    .title {
      padding: 25px;
      margin-top: 7%;
      font-size: 1rem;
      margin-bottom: 20px; 
    }
  
    .email.contact {
      padding: 25px;
      margin-top: 5%;
  
      p {
        font-weight: 200;
        font-size: 0.2rem;
        margin-top: 10px; 
      }
    }
  }
  
  
  /* MEDIA QUERIS */
  @mixin mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  @media (max-width: 768px) {
    .navbar .logo {
      display: none;
    }
  }
  
  
  .title {
    margin-bottom: 0;
    font-size: 40px;
  
    @include mobile {
      margin-bottom: 0;
      font-size: 40px;
    }
  }
  
  .sau {
    height: 100vh;
  
    @include mobile {
      height: 100vh;
    }
  }
  
  .menu {
    @extend .sau;
    nav {
      flex-direction: column;
    }
    ul {
      display: inline-block;
      margin-top: $spacing-medium;
    }
    li {
      margin-right: 0;
      margin-bottom: $spacing-small;
    }
    .icono {
      display: block;
      margin: $spacing-medium auto 0;
      text-align: center;
    }
  }
  .redes-sociales{
    @media (max-width: 768px) {
      flex-direction: column;
      padding: $spacing-medium $spacing-small;
      position: fixed;
  
      ul {
        flex-wrap: wrap;
        justify-content: center; 
        margin-bottom: $spacing-medium;
  
        li {
          margin-right: 0; 
          margin-bottom: $spacing-small;
          display: inline-block;
        }
      }
  
      img {
        width: 30px;
        height: 40px;
      }
    }
  }
  
.pagina-4{
@media (max-width: 768px) {
  p {
    font-size: 0.5rem; 
  }

  h1 {
    font-size: 0.5rem; 
  }
}

.texto-3slide {
color: $color-white;
font-size: 0.5rem;
}
} 
  }  
@media (max-width: 768px) {
  .carousel-inner {
    h1{
      font-size: larger;
      color: $color-white;
    }
    p{
      font-size: 0.7rem;
    }
    .carousel-item {
      object-fit: cover;
    height: 100%;
    width: 100%;
    }
  }
      .carousel-caption {
        max-width: 90%;
        margin: auto;
      }
    }
  
    @media (max-width: 768px) {
      .col-md-4 {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 130px;
        margin-top: 15px;
      }
    }
    
    @media (max-width: 768px) {
      
      body {
        overflow-x: hidden; 
      }
    }
    .pagina-5 {
      @media (max-width: 768px) {
        
        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
    
        
        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
        }
    
        
        .form-group {
          margin-bottom: 20px;
        }
    
        
        .formulario {
          max-width: 500px;
          margin: 0 auto;
        }
    
        
        .btn {
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 5px;
          background-color: #333;
          color: #fff;
          cursor: pointer;
        }
    
        
        .btn-enviar {
          background-color: #4caf50;
        }
    
        .btn-reiniciar {
          background-color: #f44336;
        }
      }
      .form-group.provincia label {
        text-align: left;
    } 
  }
  .pagina-2 {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  
  .container {
    margin-top: 8%;
    margin-bottom: 3%;
    width: 100%;
    overflow: hidden;
    .card {
      width: 100%;
      height: 100%;
      margin-bottom: 3rem;
      cursor: pointer;
      background-color: #F4EEE0;
      border: none;
      
      &-body {
        border: black;
      }
      
      &-img {
        width: 100%;
      }
    }
  }
  
  @media (max-width: 768px) {
    .container {
      overflow-x: auto;
      white-space: nowrap;
      
      .card {
        display: inline-block;
        margin-right: 1rem;
        vertical-align: top;
        white-space: normal;
        width: calc(100% - 1rem);
      }
    }
  }
  